@charset "UTF-8";
/*Todas as demais mídias*/

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celulares: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg);
        /*DESNECESSÁRIO*/
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main>h1 {
        color: black;
    }

    main::after {
        contain: 'Essa impressão foi feita por Caio Viana de Azeredo';
        text-decoration: underline;
    }

    #pc {
        display: none;
    }

    #phone {
        display: none;
    }

    #tv {
        display: none;
    }

    #print {
        display: block;
    }

    #tablet {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #pc {
        display: none;
    }

    #phone {
        display: none;
    }

    #tv {
        display: none;
    }

    #print {
        display: none;
    }

    #tablet {
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    #pc {
        display: block;
    }

    #phone {
        display: none;
    }

    #tv {
        display: none;
    }

    #print {
        display: none;
    }

    #tablet {
        display: none;
    }
}
@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #pc{display: none;}
#phone{display: none;}
#tv{display: block;}
#print{display: none;}
#tablet{display: none;}
}